* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8d8d8d;
}

body {
    background-color: rgb(104, 104, 104);
    margin: 0;
}

.main {
    height: 100%;
    max-width: 1180px;
    margin: auto;
    /*background-color: #000;*/
    background-color: rgb(253, 222, 240);
}

.main h1,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
}

.wrapper {
    padding: 0px 27px;
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 10px;
    row-gap: 5px;
}

.picture {
    display: flex;
    justify-content: center;
}

.picture_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture_container img {
    border: 6px solid transparent;
    border-image: linear-gradient(to right top, white 10%, transparent 50%, transparent 50%, white 100%);
    border-image-slice: 1;
}

.biography section {
    padding: 0px 25px;
}

.biography section>h2 {
    width: fit-content;
    padding: 5px
}

.biography section>h3 {
    padding-left: 10px;
}

.biography section>p {
    text-align: left;
}

.biography section>ul {
    list-style-position: inside;
}

.biography section>ul>li {
    padding-left: 20px;
}

.favorites>ol {
    list-style-position: inside;
}

.footer {
    background-color: rgb(253, 222, 240);
    text-align: center;
}

.footer>social_links {
    display: flex;
    justify-content: center;
}

.social_links>a {
    padding: 0px 3px;
}

@media (min-width: 769px) {
    .main {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 0;
        border: 6px solid transparent;
        border-color: purple;
        border-radius: 20px;
    }
    .footer {
        border: 5px solid purple;
        border-radius: 15px;
    }
}

@media (max-width: 769px) {
    body {
        background-color: rgb(253, 222, 240);
    }
    .picture_container img {
        width: 100%;
    }
    .footer {
        border: 5px solid purple;
        border-radius: 15px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .wrapper {
        grid-template-columns: auto;
    }
}