.container_header {
    position: sticky;
    top: 0;
    width: 100%;
    /*background-color: black;*/
    background-color: rgb(253, 222, 240);
    /*border: 2px solid purple;*/
    border-radius: 20px;
    border: 5px solid purple;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    */
}

.header {
    max-width: 1180px;
    margin: auto;
}

.header_top_area {
    color: #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_button {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: solid 4px white;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    /*background-color: black;*/
    background-color: rgb(253, 222, 240);
    margin: 20px;
}

.menu_button__hamburger {
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(173, 172, 173, .68);
    transition: all .3s ease-in-out;
}

.menu_button__hamburger::before,
.menu_button__hamburger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(173, 172, 173, .68);
    transition: all 0.3s ease-in-out;
}

.menu_button__hamburger::before {
    transform: translateY(-16px);
}

.menu_button__hamburger::after {
    transform: translateY(16px);
}


/* ANIMATION */

.menu_button.open .menu_button__hamburger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu_button.open .menu_button__hamburger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu_button.open .menu_button__hamburger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.site_logo {
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
    height: fit-content;
}

.site_logo>img {
    border-radius: 20px;
    border-bottom: 5px solid purple;
}

.navigation_menu {
    justify-self: flex-start;
    display: flex;
}

.navigation_menu li {
    list-style: none;
}

.navigation_menu li>a {
    transition: all 0.5s;
    text-decoration: none;
    color: #8d8d8d;
    margin-left: 20px;
    font-size: 34px;
}

@media (min-width: 769px) {
    .menu_button {
        display: none;
    }
    .header_top_area {
        justify-content: center;
    }
    .navigation_menu {
        display: inline-flex;
    }
    .navigation_menu li>a:hover {
        color: purple;
        transition: all 0.5s;
    }
}

@media (max-width: 768px) {
    .navigation_menu {
        padding-top: 119px;
        padding-bottom: 5px;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 320px;
        width: 100%;
        background-color: rgb(253, 222, 240);
        border-bottom: 5px solid purple;
        transform: translateY(-320px);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        transition: all 0.3s;
    }
    .navigation_menu.open {
        transition: all 0.3s;
        transform: translateY(0px);
    }
    .navigation_menu.open li {
        transition: all 0.5s;
        transform: scale(1);
    }
    .navigation_menu.open li>a:hover {
        color: purple;
        transition: all 0.5s;
    }
    .navigation_menu li {
        width: 100%;
        align-content: center;
        justify-content: space-around;
        transition: all 0.5s;
        transform: scale(0);
    }
}